[submodule "dependencies"]
	path = dependencies
	url = git@github.com:quadric-io/crave-solver-dependencies.git
[submodule "examples"]
	path = examples
	url = git@github.com:quadric-io/crave-examples.git
[submodule "metaSMT"]
	path = metaSMT
	url = git@github.com:quadric-io/metaSMT.git
